---
interface Props {
  center?: boolean
}

const { center } = Astro.props
---

<h1
  class:list={[
    'font-extrabold text-transparent text-3xl md:text-5xl bg-clip-text py-2 bg-gradient-to-r dark:from-yellow-300 from-purple-700 via-cyan-400 to-purple-800 text-left',
    {
      'text-center': center
    }
  ]}
>
  <slot />
</h1>
